.item {
    padding: 10px 12px;
    min-width: 140px;
    white-space: nowrap;
    border-radius: calc(var(--border-radius-primary) / 2);
    cursor: pointer;
    font-size: 14px;

    &:hover {
        background-color: var(--background-tertiary);
    }
    &.danger {
        color: var(--color-red);

        &:hover {
            background-color: var(--color-red);
            color: var(--text-light);
        }
    }
}