.game {
    height: 75vh;
    background-color: var(--color-primary);
    color: var(--text-light);
    position: relative;

    input {
        width: 100%;
        border: none;
        outline: none;
        border-radius: var(--border-radius-primary) var(--border-radius-primary) calc(var(--border-radius-primary) / 2) calc(var(--border-radius-primary) / 2);
        color: var(--text-light);
        background-color: var(--color-secondary);
        border-bottom: var(--color-tertiary) 4px solid;
        padding: 15px;
        font-size: 18px;
    }
}
.game-container {
    max-width: var(--main-width-max);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-screen, .end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 50px;
        text-align: center;
    }
    span {
        font-size: 18px;
        opacity: .7;
        text-align: center;
    }
}
.button {
    margin-top: 40px;
    min-width: 180px;
    padding: 15px;
}
.countdown {
    width: 0;
    height: 12px;
    background-color: var(--color-tertiary);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s width;
}

.stats {
    padding: 65px 0;
    width: var(--main-width);
    max-width: var(--main-width-max);
    margin: 0 auto;

    h1 {
        margin: 0;
        margin-bottom: var(--spacing-primary);
    }
}
.stats-content {
    display: flex;
}
.leaderboard {
    flex: 1;
}
.leaderboard-item, .leaderboard-item-main {
    display: flex;
    align-items: center;
    
    a {
        cursor: pointer;
    }
    .is-me {
        font-style: italic;
        margin-left: 10px;
        font-size: 14px;
        color: var(--text-secondary);
    }
}
.leaderboard-item {
    padding: calc(var(--spacing-primary) / 2);
    background-color: var(--background-secondary);
    border-radius: var(--border-radius-primary);
    margin-bottom: calc(var(--spacing-primary) / 2);
    justify-content: space-between;
}
.leaderboard-position {
    --place-one: #F9AB00;
    --place-two: #929292;
    --place-three: #BA8D36;

    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: calc(var(--spacing-primary) / 2);
    font-weight: bold;
    font-size: 20px;

    &[data-position="1"] {
        color: var(--text-light);
        background-color: var(--place-one);
    }
    &[data-position="2"] {
        color: var(--text-light);
        background-color: var(--place-two);
    }
    &[data-position="3"] {
        color: var(--text-light);
        background-color: var(--place-three);
    }
}
.leaderboard-score {
    font-size: 14px;
    color: var(--text-secondary);
}

@media (max-width: 600px) {
    .start-screen, .end-screen {
        h1 {
            font-size: 35px;
        }
        span {
            font-size: 15px;
        }
        .button {
            width: 100%;
        }
    }
}