@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap';

:root {
  --main-width: 1300px;
  --main-width-max: 90%;
  --navbar-height: 84px;
  --color-red: #D93025;
  --color-primary: #6925D9;
  --color-secondary: #5D20C2;
  --color-tertiary: #2e60c5;
  --button-text-primary: #616161;
  --button-background-light: #fff;
  --button-background-light-hover: #e1e1e1;
  --text-primary: #616161;
  --text-secondary: #858585;
  --text-light: #fff;
  --background-primary: #fff;
  --background-secondary: #f4f4f4;
  --background-tertiary: #e1e1e1;
  --input-background: #e9e9e9;
  --input-border-color: #e1e1e1;
  --input-border: 2px solid var(--input-border-color);
  --popup-background-primary: #fff;
  --popup-background-secondary: #F1F1F1;
  --popup-background-tertiary: #EAEAEA;
  --popup-background-active: #dfdfdf;
  --spacing-primary: 25px;
  --border-radius-primary: 12px;
  --box-shadow-primary: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.dark {
  --text-primary: #f1f4fa;
  --text-secondary: #9a9d9f;
  --background-primary: #2e2f3b;
  --background-secondary: #292a34;
  --background-tertiary: #242424;
  --input-background: #292929;
  --input-border-color: #242424;
  --input-border: 2px solid var(--input-border-color);
  --popup-background-primary: #1e1f27;
  --popup-background-secondary: #23252e;
  --popup-background-tertiary: #303138;
  --popup-background-active: #34353b;
  --box-shadow-primary: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(0 0 0 / 22%);
}

@media (max-width: 720px) {
  :root {
    --navbar-height: 80px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}
body {
  padding-top: var(--navbar-height);
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  display: block;
  color: inherit;
  align-items: unset;
  text-align: unset;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
