// Header styles
.header {
    margin: 0 auto;
    height: 650px;
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 0;

    svg {
        position: absolute;
        top: -10px;
        right: 0;
        z-index: 2;
    }
}

// Animated text styles
.header-text {
    width: var(--main-width);
    max-width: var(--main-width-max);
    margin: 0 auto;
    z-index: 5;

    h1 {
        font-size: 60px;
        margin: 0;
    }
    span {
        font-size: 18px;
        width: 560px;
        max-width: 100%;
        display: block;
        margin-top: calc(var(--spacing-primary) + 7px);
        color: var(--text-secondary);
    }
}
.addon-text {
    margin-top: 15px;
    height: 75px;
    overflow: hidden;
}
.addon-text-container {
    transition: transform .3s;
    display: block;
    height: 100%;

    h1 {
        height: 100%;
    }
}

// Carousel
.carousel {
    --default-margin: 5px;
    --threshold: calc(35% + var(--default-margin) - 2px);

    background: var(--background-secondary);
    background: linear-gradient(180deg, var(--background-primary) 0%, var(--background-primary) var(--threshold), var(--background-secondary) var(--threshold), var(--background-secondary));
    padding: var(--spacing-primary) 0;
}
.carousel-item {
    height: 180px;
    background-color: var(--background-primary);
    border: 2px solid var(--background-primary);
    border-radius: var(--border-radius-primary);
    min-width: 370px;
    cursor: pointer;
    transition: margin-top .3s;
    margin-top: var(--default-margin);
    position: relative;

    &:hover {
        margin-top: 0;
    }

    svg {
        width: 80px;
        height: 80px;
        background-color: var(--background-primary);
        padding: 15px;
        border-radius: var(--border-radius-primary);
    }
    span {
        display: block;
    }
}
.item-state {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 120px;
    background-color: var(--color-primary);
    color: var(--text-light);
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 600;

    &.beta {
        background-color: var(--color-red);
    }
}
.carousel-item-content {
    display: flex;
    flex-direction: column;
}
.carousel-item-icon {
    background-color: var(--background-secondary);
    padding: var(--spacing-primary);
    padding-bottom: 0;
    border-radius: var(--border-radius-primary) var(--border-radius-primary) 0 0;

    svg {
        margin-bottom: calc(-1 * var(--spacing-primary) - 5px);
        position: relative;
    }
}
.carousel-item-text {
    padding: var(--spacing-primary);
    padding-top: var(--spacing-primary);
}
.carousel-item-title {
    font-size: 20px;
    background-color: var(--background-primary);
}
.carousel-item-category {
    color: var(--text-secondary);
    font-size: 15px;
    margin-top: 10px;
}

// Tiles
.tile {
    padding: 170px 60px;
    
    &:nth-child(2n) {
        background-color: var(--background-secondary);

        .tile-text {
            order: 1;
        }
    }

    &.hidden {
        .tile-content {
            opacity: 0;
            transform: translateY(70px);
        }
    }
}
.tile-content {
    width: var(--main-width);
    max-width: var(--main-width-max);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: var(--spacing-primary);
    justify-content: space-between;
    transition: transform 1s, opacity 1s;
}
.tile-text {
    width: 440px;
    max-width: 100%;

    h1 {
        font-size: 48px;
    }
    p {
        font-size: 20px;
        color: var(--text-secondary);
    }
}
.tile-media {
    svg {
        width: 600px;
        max-width: 100%;
    }
}
@media (max-width: 900px) {
    .tile-content {
        flex-direction: column;
        gap: 0px;
    }
    .tile-text {
        order: 0 !important;
    }
}
@media (max-width: 550px) {
    .tile {
        padding: 80px 20px;
    }
}
// Tile svg animation
#card-one {
    animation: card-one 8s infinite;
}
#card-two {
    animation: card-two 8s infinite;
}
#card-three {
    animation: card-three 8s infinite;
}
#cursor {
    --start-position: translate(10%, 40%) rotate(-70deg);
    animation: cursor 8s infinite;
    transform: var(--start-position);
}
@keyframes cursor {
    0%,2% {
        transform: var(--start-position);
    }
    25% {
        transform: translate(-2%, 17%) rotate(-50deg);
    }
    40% {
        transform: translate(30%, 10%) rotate(-45deg);
    }
    55% {
        transform: translate(42%, 14%) rotate(-25deg);
    }
    70% {
        transform: translate(12%, 17%) rotate(-45deg);
    }
    85% {
        transform: translate(70%, 22%) rotate(-60deg);
    }
    90% {
        transform: translate(71%, 35%) rotate(-75deg) scale(.8);
    }
    93.5% {
        transform: translate(71%, 32%) rotate(-70deg) scale(1);
    }
}
@keyframes card-one {
    0%,5% {
        transform: translateY(-15px);
    }
    8%,30% {
        transform: translateY(-15px);
    }
    35%,62% {
        transform: translateY(0);
    }
    67%, 72% {
        transform: translateY(-15px);
    }
    77%,97% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
@keyframes card-two {
    0%,30% {
        transform: translate(0);
    }
    35%, 60% {
        transform: translateY(-15px);
    }
    65%,70% {
        transform: translate(0);
    }
    75%,75.5% {
        transform: translateY(-15px);
    }
    79%,94% {
        transform: translate(0);
    }
    96% {
        transform: translateY(-15px);
    }
}
@keyframes card-three {
    0%, 75% {
        transform: translate(0);
    }
    80%,95% {
        transform: translateY(-15px);
    }
}

@media (max-width: 650px) {
    .header-text {
        text-align: center;
        
        h1 {
            font-size: 50px;
        }
    }
}
@media (max-width: 500px) {
    .header {
        height: 350px;
    }
    .header-text {
        h1 {
            font-size: 35px;
        }
        span {
            margin-top: 0;
            font-size: 16px;
        }
    }
    .carousel-item {
        min-width: 300px;
        height: unset;
    }
    .carousel-item-icon, .carousel-item-text {
        padding: calc(var(--spacing-primary) / 2);
    }
    .item-state {
        font-size: 10px;
    }
    .carousel-item-title {
        font-size: 16px;
    }
    .carousel-item-category {
        font-size: 13px;
    }
    .tile-text {
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 17px;
        }
    }
}