// Header styles
.header {
    margin: 0 auto;
    height: 650px;
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;

    svg {
        position: absolute;
        top: -10px;
        right: 0;
        z-index: -1;
    }
}

// Animated text styles
.header-text {
    width: var(--main-width);
    max-width: var(--main-width-max);
    margin: 0 auto;

    h1 {
        font-size: 60px;
        margin: 0;
    }
    span {
        font-size: 18px;
        width: 560px;
        max-width: 100%;
        display: block;
        margin-top: calc(var(--spacing-primary) + 7px);
    }
}
.addon-text {
    margin-top: 15px;
    height: 75px;
    overflow: hidden;
}
.addon-text-container {
    transition: transform .3s;
    display: block;
    height: 100%;

    h1 {
        height: 100%;
    }
}
@media (max-width: 650px) {
    .header-text {
        text-align: center;
        
        h1 {
            font-size: 50px;
        }
    }
}
@media (max-width: 500px) {
    .header {
        height: 350px;
    }
    .header-text {
        h1 {
            font-size: 35px;
        }
        span {
            margin-top: 0;
            font-size: 16px;
        }
    }
}

// Carousel
.carousel {
    --default-margin: 5px;
    --threshold: calc(35% + var(--default-margin) - 2px);

    background: var(--background-secondary);
    background: linear-gradient(180deg, var(--background-primary) 0%, var(--background-primary) var(--threshold), var(--background-secondary) var(--threshold), var(--background-secondary));
    padding: var(--spacing-primary) 0;
}
.carousel-item {
    height: 180px;
    background-color: var(--background-primary);
    border-radius: var(--border-radius-primary);
    min-width: 370px;
    cursor: pointer;
    transition: margin-top .3s;
    margin-top: var(--default-margin);
    position: relative;

    &:hover {
        margin-top: 0;
    }

    svg {
        width: 80px;
        height: 80px;
        background-color: var(--background-primary);
        padding: 15px;
        border-radius: var(--border-radius-primary);
    }
    span {
        display: block;
    }
}
.item-state {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 120px;
    background-color: var(--color-primary);
    color: var(--text-light);
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 600;

    &.beta {
        background-color: var(--color-red);
    }
}
.carousel-item-content {
    display: flex;
    flex-direction: column;
}
.carousel-item-icon {
    background-color: var(--background-secondary);
    padding: var(--spacing-primary);
    padding-bottom: 0;
    border-radius: var(--border-radius-primary) var(--border-radius-primary) 0 0;

    svg {
        margin-bottom: calc(-1 * var(--spacing-primary) - 5px);
        position: relative;
    }
}
.carousel-item-text {
    padding: var(--spacing-primary);
    padding-top: var(--spacing-primary);
}
.carousel-item-title {
    font-size: 20px;
    background-color: var(--background-primary);
}
.carousel-item-category {
    color: var(--text-secondary);
    font-size: 16px;
    margin-top: 10px;
}