.container {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 8px;
        display: block;
        font-weight: 600;
        font-size: 14px;
        color: var(--text-secondary);
    }
}
.input {
    padding: 12px;
    font-size: 15px;
    outline: none;
    background-color: var(--input-background);
    border: var(--input-border);
    color: var(--text-primary);
    border-radius: 8px;
}