.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 500px;
    background-color: var(--background-primary);
    padding: calc(var(--spacing-primary) * 2);
    border-radius: var(--border-radius-primary);
    border: 2px solid var(--background-tertiary);

    h1 {
        font-size: 25px;
        margin: 0;
        text-align: center;
        margin-bottom: var(--spacing-primary);
    }
}
.input, .button {
    margin-bottom: var(--spacing-primary);
}
.footer {
    display: block;
    text-align: center;
    color: var(--text-secondary);
    opacity: .8;
    cursor: pointer;
    transition: .2s opacity;

    &:hover {
        opacity: 1;
    }
}