.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--navbar-height));
    margin-bottom: var(--navbar-height);
    margin-top: calc(-1 * var(--navbar-height));
    padding-top: var(--navbar-height);
}
.content {
    width: 700px;
    background-color: var(--background-primary);
    padding: calc(var(--spacing-primary) * 2);
    border-radius: var(--border-radius-primary);

    h1 {
        font-size: 32px;
        margin: 0;
        margin-bottom: var(--spacing-primary);
    }
}
.input, .button {
    margin-bottom: var(--spacing-primary);
}
.feedback {
    display: block;
    margin-bottom: calc(var(--spacing-primary) / 2);
    margin-top: calc(-1 * var(--spacing-primary) / 2);
    font-size: 15px;
    color: var(--text-secondary);
}
.footer {
    display: block;
    text-align: center;
    color: var(--text-secondary);
    opacity: .8;
    cursor: pointer;
    transition: .2s opacity;
    font-size: 14px;
    display: flex;
    justify-content: center;

    &:hover {
        opacity: 1;
    }
}