.container {
    padding: 8px;
    position: fixed;
    background-color: var(--popup-background-primary);
    border-radius: var(--border-radius-primary);
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
    z-index: 14;
}
.go-back-btn {
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 6px 10px 12px 10px;
    margin-bottom: 6px;
    border-bottom: 2px solid var(--popup-background-secondary);

    svg {
        width: 14px;
        height: 14px;
        transform: rotate(180deg);
        fill: var(--text-primary);
        margin-right: 10px;
        margin-bottom: -1px;
    }
    &+.group {
        border-top: none !important;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}
.group {
    --separator-spacing: 4px;
    &:not(:first-child) {
        border-top: 2px solid var(--popup-background-secondary);
        margin-top: var(--separator-spacing);
        padding-top: var(--separator-spacing);
    }
}
.item {
    padding: 8px 12px;
    min-width: 160px;
    white-space: nowrap;
    border-radius: calc(var(--border-radius-primary) / 2);
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        width: 12px;
        height: 12px;
        fill: var(--text-primary);
        display: block;
    }

    &:hover:not(.disabled) {
        background-color: var(--popup-background-tertiary);
    }
    &:active:not(.disabled) {
        background-color: var(--popup-background-active);
    }
    &.danger {
        color: var(--color-red);

        &:hover:not(.disabled) {
            background-color: var(--color-red);
            color: var(--text-light);
        }
    }
    &.active {
        background-color: var(--popup-background-secondary);
    }
    &.disabled {
        opacity: .7;
        cursor: default;
    }
    &.separator {
        padding: 0;
        height: 1.5px;
        margin: 4px 0;
        background-color: var(--popup-background-secondary);
        cursor: default;
    }
}
.close {
    text-align: center;
    display: block;
    font-size: 14px;
    color: var(--text-secondary);
    border-top: 2px solid var(--popup-background-secondary);
    margin-top: 8px;
    margin-bottom: -8px;
    padding: 16px 0;
    cursor: pointer;
}

@media (max-width: 516px) {
    .container {
        top: unset !important;
        left: 0 !important;
        bottom: 0;
        width: 100%;
        border-radius: var(--border-radius-primary) var(--border-radius-primary) 0 0;
    }
    .item {
        padding: 12px 16px;
    }
}