.container {
    width: 100%;

    h1 {
        font-size: 20px;
        margin-top: 0;
    }
}
.cards {
    display: grid;
    gap: var(--spacing-primary);
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid var(--background-secondary);
    padding-bottom: var(--spacing-primary);
}
.card {
    padding: var(--spacing-primary);
    background-color: var(--background-secondary);
    border-radius: var(--border-radius-primary);

    h2 {
        margin-bottom: 0;
        margin-top: calc(var(--spacing-primary) / 2);
        margin-top: 8px;
        font-size: 30px;
    }
}
.card-label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-secondary);
}
.empty {
    font-size: 15px;
}
.scores {
    margin-top: var(--spacing-primary);

    h2 {
        margin: 0;
        margin-bottom: calc(var(--spacing-primary) / 2);
        font-size: 16px;
        color: var(--text-secondary);
    }
}
.score {
    padding: 16px;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius-primary);
    margin-bottom: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.score-timestamp {
    color: var(--text-secondary);
}
@media (max-width: 816px) {
    .container {
        margin-top: var(--sidebar-mobile-height);
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}